<ion-header>
  <ion-toolbar *ngIf="projet" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{projet.llProjet}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding (ionSwipe)="swipeEvent($event)">

  <ion-slides #slides [options]="slideOpts" (ionSlideDidChange)="slideChanged()" (ionSlideNextStart)='nextSlide()'
    (ionSlidePrevStart)='prevSlide()'>
    <ion-slide *ngFor='let date of dates'>
        <app-process-card [ucProjet]="projet.ucProjet" [date]="date"></app-process-card>
    </ion-slide>
    
  </ion-slides>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-segment>
            <ion-segment-button value="J" checked>
              Jour
            </ion-segment-button>
            <ion-segment-button value="S">
              Semaine
            </ion-segment-button>
            <ion-segment-button value="MC">
                Mois
              </ion-segment-button>
          </ion-segment>
    </ion-toolbar>
  </ion-footer>