.ion-icon {
    font-size: 40px; //Preferred size here
}
.text {
    font-size: 20px; //Preferred size here
    text-align: center;
    font-weight: bold;
}
.toolbar {
    background-color: lightblue;
}
.datas {
    display : flex;
    flex-flow: row;
    justify-content: space-between;
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
}
.cellheader {
    font-size: 2em;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #03A9F4;
}
.cellobjet {
    font-size: 1em;
    color: grey;
    font-style: italic;
    text-align: left;

}
.item {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}
.cell {
    font-size: 1em;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color:#039BE5;
    
   
}
.red {
    background-color: red;
    text-align: center;
}
.lineOperateur{
    font-size : 0.8em;
}
.data{
    font-size : 1em;
    text-align: right;
}
.headerOperateurs{
    color : grey;
    font-size : 0.8em;
}
.divlist{
    padding: 0px;
    margin: 0px;
}
hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}
.card-content-ios {
    padding:5px;
}
.card-content-md {
    padding:5px;
}
.sc-ion-card-md-h {
    margin :0px;
}

.sc-ion-card-ios-h {
    margin :0px;
}