.ion-icon {
    font-size: 40px; //Preferred size here
}
.text {
    font-size: 20px; //Preferred size here
    text-align: center;
    font-weight: bold;
}
.toolbar {
    background-color: lightblue;
}
.datas {
    display : flex;
    flex-flow: row;
    justify-content: space-between;
    /* Then we define how is distributed the remaining space */
    justify-content: space-evenly;
}
.cellheader {
    font-size: 3em;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #03A9F4;
}
.cellobjet {
    font-size: 1em;
    color: grey;
    font-style: italic;
    text-align: left;

}
.item {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}
.cell {
    font-size: 1em;
    color: black;
    text-align: center;
    font-weight: bold;
    background-color:#039BE5;
    
   
}
.red {
    font-size: 1em;
    color: red;
    text-align: right;
}