//header date
.date{
    font-size:2em;
    background-color: #90CAF9;
    color: black;
}
.card-content-md {
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
}


.card-content-ios {
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
}
.sc-ion-card-ios-h {
    margin :10px 5px;
}
.border-left{
    border-left: solid 1px rgb(11, 133, 226);
    padding-right: 5px;
}
.cellheader {
    font-size: 1.5em;
    color: black;
    text-align: left;
}
.cellobjet {
    font-size: 1em;
    color: grey;
    font-style: italic;
    text-align: left;

}
.processcard {
    background-color: white;
}
.cell {
    font-size: 1em;
    color: black;
    text-align: right;
    font-weight: bold;
   
}
.red {
    font-size: 1em;
    color: red;
    text-align: right;
}