.lineIndicateur{
    font-size : 0.8em;
    text-align: left;
}
.data{
    font-size : 1em;
    text-align: right;
}
.unite{
    font-size : 1em;
    text-align: left;
}
.headerIndicateurs{
    color : grey;
    font-size : 0.8em;
}
.divlist{
    padding: 0px;
    margin: 0px;
}
hr { 
    display: block;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
}
.card-content-ios {
    padding:5px;
}
.card-content-md {
    padding:5px;
}
.sc-ion-card-md-h {
    margin :0px;
}

.sc-ion-card-ios-h {
    margin :0px;
}
.cellheader {
    font-size: 1.5em;
    color: black;
    text-align: center;
}