<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <li>
    <ul>Le menu <b>Activité</b> contient une liste de processus pour une journée. En cliquant sur l'un des processus, il est possible d'accéder
  au détail de celui-ci.</ul>
  <ul>Le menu <b>Indicateurs globaux</b> contient une liste d'indicateurs (à définir) pour une journée. En cliquant sur l'un d'entre eux, s'affiche le détail par projet.</ul>
</li>
  
 
</ion-content>
