<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start"  >
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>indicateurs-multisite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides #slides [options]="slideOpts" (ionSlideDidChange)="slideChanged()" (ionSlideNextStart)='nextSlide()'
    (ionSlidePrevStart)='prevSlide()'>
    <ion-slide *ngFor='let date of dates'>
         <ion-card>
            <div class='date'>
                {{date|date:'shortDate'}}
            </div>
         </ion-card>
        <div *ngIf="indicateurs">
        <ion-card *ngFor="let indic of indics"  class="processcard">
            <app-indicateur-card [indicateurs]="indicateurs[indic.ucIndicateur]"></app-indicateur-card>
        </ion-card>
        </div>
    </ion-slide>
    
  </ion-slides>
</ion-content>
